
<div class="row mt-5">
    <div class="col text-center ">
        <p class="text-uppercase">Hi {{name}}</p>
        <p class="font-weight-bold text-uppercase">Your balance today is  $ {{balancePerfil}}</p>
    </div>
</div>
<div class="row ">
    <div class="col d-flex justify-content-end">
            <a [href]="['newOp']" class="btn btn-outline-success">New Operation</a>        
    </div>
    <div class="col d-flex justify-content-start">
            <a [href]="['resume']"  rel="noopener noreferrer" class="btn btn-outline-info">All operations</a>
    </div>
</div>



