
<div class="width80 mt-5">
  <div class="alert " *ngIf="isMessage" [ngClass]="{'alert-success': typeMessage == 'success','alert-danger': typeMessage == 'error'}" role="alert">
    <p>{{message}}</p>
  </div>
    <form (submit)="addNewOp($event)">
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name=name [(ngModel)]="name" placeholder="Name operation">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Amount</label>
            <input type="number" class="form-control" min="0" name="amount" [(ngModel)]="amount" id="exampleFormControlInput1" placeholder="Amount" pattern="[0-9]">
          </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Type</label>
          <select class="form-control" id="exampleFormControlSelect1" name="type" [(ngModel)]="type">
            <option>Income</option>
            <option>Expense</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Commit</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="commit" [(ngModel)]="commit"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Confirm</button>
      </form>
</div>

