/* You can add global styles to this file, and also import other style files */

/*.borde{
    border:1px solid #000000;
    height: 90vh;
}*/

.width80{
    width: 70%!important;
    margin:0 auto;
    
}

.income{
    border-left: 2px solid #1E7E34;
    background: #1b8d3650;
}

.expense{
    border-left: 2px solid red;
    background: #d2697486;
}